<div class="flex justify-between border-b shadow-lg py-2 px-5" fxHide.lt-md>
  <div>
    <h4 class="text-sm font-bold text-blue-800">ECRITURE</h4>
  </div>
  <div>
    <div class="flex items-center border rounded-lg bg-gray-100 w-max py-2 px-4 space-x-3 rounded-full py-3 px-6">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      <input
						class="bg-transparent focus:outline-none"
						placeholder="Search" />
    </div>
  </div>

</div>

<div class="flex justify-between border-b shadow-lg py-5 px-5 bg-gradient-to-b from-blue-900 via-blue-700 to-blue-500" fxShow.lt-md="true"  fxShow="false">
  <div class="text-white">
    LOGO
  </div>
  <div  class="text-white">
    <i class="fas fa-search" *ngIf="!display" (click)="display=!display" ></i>
    <input class="appearance-none bg-transparent border-b-2 w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="search" aria-label="Full name" *ngIf="display" (click)="display=!display">
  </div>
  <div  class="text-white">
    <i class="fas fa-bars" (click)="displaymenu=!displaymenu" ></i>
  </div>
</div>
<div class="flex flex-col bg-gradient-to-b from-blue-900 via-blue-700 to-blue-500" fxShow.lt-md="true"  fxShow="false" *ngIf="displaymenu">
  <div class="border-b py-5 px-5">
    <a href="#" class="flex items-center text-sm text-center font-semibold text-white hover:text-black transition duration-300" 
      routerLink= 'medecin' routerLinkActive = 'active'
      >
        <i class="fas fa-stethoscope">   MEDECIN </i>
       </a
      >
  </div>
  <div class="border-b py-5 px-5">
    <a href="#" class="flex items-center text-sm text-center font-semibold text-white hover:text-black transition duration-300"
      routerLink= 'secretaire' routerLinkActive = 'active'
      >
        <i class="fa fa-user-nurse">  SECRETAIRE</i></a
      >
  </div>
  <div class="border-b py-5 px-5">
    <a href="#" class="flex items-center text-sm text-center font-semibold text-white hover:text-black transition duration-300"
      routerLink= 'patient' routerLinkActive = 'active'
      >
        <i class="fas fa-user-alt">  PATIENT</i>
        </a
      >
  </div>
</div>


