<!-- Liste des hospitalisations  -->

<div class="flex flex-col items-center m-8" id="table ">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Date Admission / Motif Admission
                </th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Date Sortie
                </th>
                <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Motif Transfert
                </th>

                 <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Date de transfert
                  </th>

                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                   Patient
                  </th>

                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Chambre et Lit
                  </th>

                  <!-- <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    
                  </th> -->
                <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <span class="sr-only">Modifier</span>
                </th>
                <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <span class="sr-only">Supprimer</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let hospitalisations of hospitalisations;">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                          {{ hospitalisations?.dateAdmission }}
                      </div>
                      <div class="text-sm text-gray-500">
                        {{ hospitalisations?.motifAdmission }}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ hospitalisations?.dateSortie }}
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"> Motif de transfert </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"> {{ hospitalisations?.dateTransfert }} </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900"> {{ hospitalisations?.infosPatient }} </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"> {{ hospitalisations?.numeroLit }} </div>
              </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <i (click)="openDialogForHospitalisation(hospitalisations)" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                  </i>
                
                </td>

                
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <i class="fas fa-trash" (click)="openDialogForDeleteHospitalisation(hospitalisations)" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                  </i>
                
                </td>
              </tr>
  
            </tbody>
          </table>
          
        </div>
       
      </div>
      <button class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-8"
              (click)="openDialogForAddHospitalisation()" data-toggle="modal"  data-target="#exampleModalTwo">
          Creer une hospitalisation
      </button>
    </div>
  </div>
<!-- End liste des hospitalisations -->

<!-- Modal for add hospitalisation -->
<div class="modal fade tabindex=-1 fixed top-0 left-0 w-full h-full outline-none fade" #modalAddHospitalisation id="modalAddHospitalisation" tabindex="-1" role="dialog">
  <div class="modal-dialog relative w-auto pointer-events-none max-w-lg my-8 mx-auto px-4 sm:px-0" role="document">
    <div class="relative flex flex-col w-full pointer-events-auto bg-white border border-gray-300 rounded-lg">
      <div class="flex items-start justify-between p-4 border-b border-gray-300 rounded-t">
        <h5 class="mb-0 text-lg leading-normal">Hopspitalisation d'un patient</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="relative flex p-4">
       <!-- Begin form for add user, please if not me unse bootstrap for modal, i hate angular material -->
          <form class="w-full max-w-lg" [formGroup]="addHospitalisationForm"  (ngSubmit)="saveHospitalisation()">
              <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                        Motif Admission
                      </label>
                      <input formControlName="motifAdmission" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="motifAdmission" type="text" placeholder="Albuquerque">
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                        Infos Accompagnant
                      </label>
                      <input formControlName="infosAccompagnant" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 
                          leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="infosAccompagnant" type="text" placeholder="Login">
                    </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    Numero Telephone de l'Accompagnant
                  </label>
                  <input formControlName="numeroTelephoneICE" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="numeroTelephoneICE" type="text" placeholder="777777777">
                  <!-- <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p> -->
                </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3 ">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                    Veuillez choisir le Patient
                  </label>
                  <div class="relative">
                    <select formControlName="uidPatient" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                     id="grid-state" >
                      <option *ngFor="let patients of patients" 
                      [value]="patients?.externalid" > {{ patients?.nomPatient }} {{ patients?.prenomPatient }}</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3 mb-6">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                    Veuillez choisir un lit
                  </label>
                  <div class="relative">
                    <select formControlName="uidLit" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                     id="grid-state" >
                      <option *ngFor="let lits of lits" 
                      [value]="lits?.uidLit" > {{ lits?.numero }}</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                    </div>
                  </div>
                </div>
              </div>
              
            <div class="flex items-center justify-end p-4 border-t border-gray-300">
                <button type="button" class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-gray-600 mr-2" data-dismiss="modal">Fermer</button>
                <button type="submit" class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-blue-600">Enregistrer</button>
            </div>

        </form>
          <!-- End form for add user -->
      </div>
      
    </div>
  </div>
</div>
<!-- End modal for add patient -->


<!-- Modal for remove hospitalisation -->

<!-- <div class="modal fade tabindex=-1 fixed top-0 left-0 w-full h-full outline-none fade" #modalRemoveHospitalisation id="modalRemoveHospitalisation" tabindex="-1" role="dialog">
  <div class="modal-dialog relative w-auto pointer-events-none max-w-lg my-8 mx-auto px-8 sm:px-0" role="document">
    
    <div class="relative flex flex-col w-full pointer-events-auto bg-white border border-gray-300 rounded-lg">
      <div class="flex flex-col p-8 bg-white shadow-md hover:shodow-lg rounded-2xl">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <div class="flex flex-col ml-4">
              <div class="font-medium leading-none">Voulez-vous faire sortir le patient de la salle d'hospitalisation?</div>
            </div>

            
              <button type="button" class="inline-block font-normal text-center px-3 py-2 leading-normal 
                    text-base rounded cursor-pointer text-white bg-gray-600 mr-2" data-dismiss="modal">Non</button>
              <button type="submit" class="inline-block font-normal text-center px-3 py-2 
                  leading-normal text-base rounded cursor-pointer text-white bg-green-600"
                  (click)="removeHospitalisation(hospitalisation)" >Oui</button>
        </div>
          
      </div>
    </div> 
    
  </div>
</div> -->



<div class="modal fade tabindex=-1 fixed top-0 left-0 w-full h-full outline-none fade" #modalRemoveHospitalisation id="modalRemoveHospitalisation" tabindex="-1" role="dialog">
  <div class="modal-dialog relative w-auto pointer-events-none max-w-lg my-8 mx-auto px-4 sm:px-0" role="document">
    <div class="relative flex flex-col w-full pointer-events-auto bg-white border border-gray-300 rounded-lg">
      <div class="flex items-start justify-between p-4 border-b border-gray-300 rounded-t">
        <h5 class="mb-0 text-lg leading-normal">Voulez-vous faire sortir le patient de la salle d'hospitalisation?</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="relative flex p-4">
       <!-- Begin form for add user, please if not me unse bootstrap for modal, i hate angular material -->
          <form class="w-full max-w-lg" [formGroup]="addHospitalisationForm"  (ngSubmit)="removeHospitalisation(hospitalisation)">
              <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-6 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-4" for="grid-zip">
                        Motif de sortie
                      </label>
                      <textarea class="resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-6 px-6
                      leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="motif de sortie" formControlName="motifSortie"></textarea>
                    </div>
                    

              </div>
              
          
          <button type="button" class="inline-block font-normal text-center px-3 py-2 leading-normal 
              text-base rounded cursor-pointer text-white bg-gray-600 mr-2" data-dismiss="modal">Non</button>

          <button type="submit" class="inline-block font-normal text-center px-3 py-2 
              leading-normal text-base rounded cursor-pointer text-white bg-green-600">Oui</button>

        </form>
          <!-- End form for add user -->
      </div>

    </div>
  </div>
</div>
<!-- End modal for remove hospitalisation -->

<div *ngIf="isRegister" >

  <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 ">
    <div class="flex items-center justify-center w-12 bg-green-500">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
        </svg>
    </div>
    
    <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
            <span class="font-semibold text-green-500 dark:text-green-400">Success</span>
            <p class="text-sm text-gray-600 dark:text-gray-200">Hospitalisation créée avec Success!</p>
        </div>
    </div>
  </div>
</div>

<div *ngIf="isUpdate" >

  <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 ">
    <div class="flex items-center justify-center w-12 bg-green-500">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
        </svg>
    </div>
    
    <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
            <span class="font-semibold text-green-500 dark:text-green-400">Success</span>
            <p class="text-sm text-gray-600 dark:text-gray-200">Hospitalisation modifiée avec Success!</p>
        </div>
    </div>
  </div>
</div>

<div *ngIf="isDelete" >

  <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 ">
    <div class="flex items-center justify-center w-12 bg-green-500">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
        </svg>
    </div>
    
    <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
            <span class="font-semibold text-green-500 dark:text-green-400">Success</span>
            <p class="text-sm text-gray-600 dark:text-gray-200">Hospitalisation supprimée!</p>
        </div>
    </div>
  </div>
</div>

<div *ngIf="isError">
  <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
    <div class="flex items-center justify-center w-12 bg-red-500">
      <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z"/>
      </svg>
    </div>
    
    <div class="px-4 py-2 pb-5  -mx-3">
      <div class="mx-3">
          <span class="font-semibold text-red-500 dark:text-red-400">Error</span>
          <p class="text-sm text-gray-600 dark:text-gray-200">Une erreur s'est produite!</p>
      </div>
    </div>
    </div>
</div>