<!DOCTYPE html>
  <html lang="en" class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">

        <title>Se connecter</title>
     
    </head>
    <!-- END: Head -->
    <body class="login">
    
      <div class=" min-h-screen bg-slate-200 py-6 flex flex-col justify-center relative overflow-hidden sm:py-12">
        <span class="border text-5xl text-black-800 px-6 pt-10 pb-8 bg-white w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">Connection</span>

          <div class="border relative px-4 pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-md mx-auto sm:px-10 rounded-b-md">
                <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
                    <label for="" class="block">Nom d'utilisateur ou email</label>

                    <input type="Email" class="border w-full h-10 px-3 mb-5 rounded-md" formControlName="login" name="login" placeholder="Nom d'utilisateur ou email">

                    <label for="" class="block">Mot de passe</label>
                    <input type="password" class="border w-full h-10 px-3 mb-5 rounded-md" formControlName="password" name="password" placeholder="Mot de passe">

                  <div class="flex items-start">
                    <div class="flex items-start">
                        
                      </div>
                      <a href="#" class="text-sm text-blue-700 hover:underline ml-auto dark:text-blue-500">Mot de passe oublié?</a>
                    </div>
                  <button class="mt-5 bg-gray-500 hover:bg-blue-700 shadow-xl text-white uppercase text-sm font-semibold px-14 py-3 rounded">Se connecter</button>
                </form>
          </div>
        </div>
    
    </body>
</html>