

<!-- Liste des patients  -->

<div class="flex flex-col items-center m-8" id="table ">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Infos 
                </th>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Numero Telephone
                </th>
                <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Situation Matrimoniale
                </th>

                 <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Assurance Medicale
                  </th>

                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Code Assurance
                  </th>

                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Pers. a contacter (ICE)
                  </th>

                  <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Num. tel. Pers. a contacter (ICE)
                  </th>
                <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <span class="sr-only">Modifier</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let patients of patients;">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                          {{ patients?.nomPatient }} {{ patients?.prenomPatient }}
                      </div>
                      <div class="text-sm text-gray-500">
                        {{ patients?.emailPatient }}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ patients?.numeroTelephonePatient }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"> {{ patients?.situationMatrimoniale }} </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"> {{ patients?.assuranceMedicale }} </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900"> {{ patients?.codeAssurance }} </div>
                  </td>

                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900"> {{ patients?.nomAndPrenomICE }} </div>
                  </td>

                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900"> {{ patients?.numeroTelephoneICE }} </div>
                  </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <i (click)="openDialogForUpdate(patients)" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                  </i>
                
                </td>
  
  
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <i class="fas fa-trash" (click)="openDialogForDeletePatient(patients)" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  </i>
                
                </td>
              </tr>
  
            </tbody>
          </table>
          
        </div>
       
      </div>
      <button class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-8"
              (click)="openDialogForAddPatient()" data-toggle="modal"  data-target="#exampleModalTwo">
          Ajouter un Patient
      </button>
    </div>
  </div>
<!-- End liste des patients -->


<!-- Modal for add patient -->
<div class="modal fade tabindex=-1 fixed top-0 left-0 w-full h-full outline-none fade" #modalAddPatient id="modalAddPatient" tabindex="-1" role="dialog">
  <div class="modal-dialog relative w-auto pointer-events-none max-w-lg my-8 mx-auto px-4 sm:px-0" role="document">
    <div class="relative flex flex-col w-full pointer-events-auto bg-white border border-gray-300 rounded-lg">
      <div class="flex items-start justify-between p-4 border-b border-gray-300 rounded-t">
        <h5 class="mb-0 text-lg leading-normal">Ajouter un nouvel Patient</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="relative flex p-4">
       <!-- Begin form for add user, please if not me unse bootstrap for modal, i hate angular material -->
          <form class="w-full max-w-lg" [formGroup]="addPatientForm"  (ngSubmit)="savePatient()">
              <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                        Nom Patient
                      </label>
                      <input formControlName="nomPatient" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Albuquerque">
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                        Prenom Patient
                      </label>
                      <input formControlName="prenomPatient" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 
                          leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-zip" type="text" placeholder="Login">
                    </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    Email Patient
                  </label>
                  <input formControlName="emailPatient" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="text" placeholder="a@yopmail.com">
                  <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
                </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-2">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                        Numero Tel. Patient 
                      </label>
                      <input formControlName="numeroTelephonePatient"  
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border
                        border-red-500 rounded py-3 px-4 mb-3 leading-tight 
                        focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">
                      <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                        Situation Matrimoniale
                      </label>
                      <input formControlName="situationMatrimoniale"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe">
                    </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                      Assurance Medicale 
                    </label>
                    <input formControlName="assuranceMedicale"  
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border
                      border-red-500 rounded py-3 px-4 mb-3 leading-tight 
                      focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">
                    <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                      Code Assurance Medicale
                    </label>
                    <input formControlName="codeAssurance"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe">
                  </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-2">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Personne à contacter
                  </label>
                  <input formControlName="nomAndPrenomICE"  
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border
                    border-red-500 rounded py-3 px-4 mb-3 leading-tight 
                    focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">
                  <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                </div>
                <div class="w-full md:w-1/2 px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    Numero Tel. ICE
                  </label>
                  <input formControlName="numeroTelephoneICE"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe">
                </div>
          </div>
              
            <div class="flex items-center justify-end p-4 border-t border-gray-300">
                <button type="button" class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-gray-600 mr-2" data-dismiss="modal">Fermer</button>
                <button type="submit" class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-blue-600">Enregistrer</button>
            </div>

        </form>
          <!-- End form for add user -->
      </div>
      
    </div>
  </div>
</div>
<!-- End modal for add patient -->


<!-- Modal for update patient -->
<div class="modal fade tabindex=-1 fixed top-0 left-0 w-full h-full outline-none fade" #modalUpdatePatient id="modalUpdatePatient" tabindex="-1" role="dialog">
  <div class="modal-dialog relative w-auto pointer-events-none max-w-lg my-8 mx-auto px-4 sm:px-0" role="document">
    <div class="relative flex flex-col w-full pointer-events-auto bg-white border border-gray-300 rounded-lg">
          <div class="flex items-start justify-between p-4 border-b border-gray-300 rounded-t">
            <h5 class="mb-0 text-lg leading-normal">Modifier le patient</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
      <div class="relative flex p-4">
        <!-- Begin form for update patient, please if not me, unse bootstrap for modal, i hate angular material -->
          <form class="w-full max-w-lg" [formGroup]="modifPatientForm" *ngIf="this.modifPatientForm" (ngSubmit)="modifPatient()">
            

                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                          Nom Patient
                        </label>
                        <input formControlName="nomPatient" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                        id="grid-city" type="text" value="{{ patientToModify?.nomPatient}}">
                    </div>

                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                        Prenom Patient
                      </label>
                      <input formControlName="prenomPatient" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 
                          leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-zip" type="text" value="{{ patientToModify?.prenomPatient}}">
                    </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    Email Patient
                  </label>
                  <input formControlName="emailPatient" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                  id="grid-password" type="text" value="{{ patientToModify?.emailPatient}}">
                  
                </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-2">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                      Numero Tel. Patient 
                    </label>
                    <input formControlName="numeroTelephonePatient"  
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border
                      border-red-500 rounded py-3 px-4 mb-3 leading-tight 
                      focus:outline-none focus:bg-white" id="grid-first-name" type="text" value="{{ patientToModify?.numeroTelephonePatient}}">
                    <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                      Situation Matrimoniale
                    </label>
                    <input formControlName="situationMatrimoniale"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
                    id="grid-last-name" type="text" value="{{ patientToModify?.situationMatrimoniale}}">
                  </div>
              </div>

              <div class="flex flex-wrap -mx-3 mb-2">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                      Assurance Medicale 
                    </label>
                    <input formControlName="assuranceMedicale"  
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border
                      border-red-500 rounded py-3 px-4 mb-3 leading-tight 
                      focus:outline-none focus:bg-white" id="grid-first-name" type="text" value="{{ patientToModify?.assuranceMedicale}}">
                    <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                  </div>

                  <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                      Code Assurance Medicale
                    </label>
                    <input formControlName="codeAssurance"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 
                            rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" 
                            type="text" value="{{ patientToModify?.codeAssurance}}">
                  </div>

              </div>

              <div class="flex flex-wrap -mx-3 mb-2">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                      Personne à contacter
                    </label>
                    <input formControlName="nomAndPrenomICE"  
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border
                      border-red-500 rounded py-3 px-4 mb-3 leading-tight 
                      focus:outline-none focus:bg-white" id="grid-first-name" type="text" value="{{ patientToModify?.nomAndPrenomICE}}">
                    <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                  </div>

                  <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                      Numero Tel. ICE
                    </label>
                    <input formControlName="numeroTelephoneICE"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 
                    rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" 
                    type="text" value="{{ patientToModify?.numeroTelephoneICE}}">
                  </div>

              </div>

              <div class="md-form pb-3" hidden>
                <input type="number" id="externalid" formControlName="externalid" name="externalid" value="{{ patientToModify?.externalid}}" >
 
              </div>
              
                <div class="flex items-center justify-end p-4 border-t border-gray-300">
                    <button type="button" class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-gray-600 mr-2" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer text-white bg-blue-600">Enregistrer</button>
                </div>
          </form>
       <!-- End form for update patient -->
      </div>
    </div>
  </div>
</div>
<!-- End modal for update patient -->


<!-- Modal for deleting patient -->

<div class="modal fade tabindex=-1 fixed top-0 left-0 w-full h-full outline-none fade" #modalDeletePatient id="modalDeletePatient" tabindex="-1" role="dialog">
  <div class="modal-dialog relative w-auto pointer-events-none max-w-lg my-8 mx-auto px-4 sm:px-0" role="document">
    
    <div class="relative flex flex-col w-full pointer-events-auto bg-white border border-gray-300 rounded-lg">
      <div class="flex flex-col p-8 bg-white shadow-md hover:shodow-lg rounded-2xl">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <div class="flex flex-col ml-4">
              <div class="font-medium leading-none">Supprimer le patient {{ patient?.nomPatient }} {{ patient?.prenomPatient }}?</div>
              <div class="md-form pb-3" hidden>
                <input type="number" id="externalid" value="{{ externalid }}" >
              </div>
            </div>
          </div>
          <button  class="flex-no-shrink bg-red-500 px-5 ml-4 py-2 text-sm shadow-sm hover:shadow-lg 
                font-medium tracking-wider border-2 border-red-500 
                text-white rounded-full" (click)="deletePatient(externalid)">Supprimer</button>
        </div>
    </div> 

  </div>
</div>

<!-- End modal for deleting patient -->

<div *ngIf="isRegister" >

  <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 ">
    <div class="flex items-center justify-center w-12 bg-green-500">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
        </svg>
    </div>
    
    <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
            <span class="font-semibold text-green-500 dark:text-green-400">Success</span>
            <p class="text-sm text-gray-600 dark:text-gray-200">Le patient a été bien crée!</p>
        </div>
    </div>
  </div>
</div>

<div *ngIf="isUpdate" >

  <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 ">
    <div class="flex items-center justify-center w-12 bg-green-500">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
        </svg>
    </div>
    
    <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
            <span class="font-semibold text-green-500 dark:text-green-400">Success</span>
            <p class="text-sm text-gray-600 dark:text-gray-200">Le patient a été bien modifié!</p>
        </div>
    </div>
  </div>
</div>

<div *ngIf="isDelete" >

  <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 ">
    <div class="flex items-center justify-center w-12 bg-green-500">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
        </svg>
    </div>
    
    <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
            <span class="font-semibold text-green-500 dark:text-green-400">Success</span>
            <p class="text-sm text-gray-600 dark:text-gray-200">Le patient a été bien suprimé!</p>
        </div>
    </div>
  </div>
</div>

<div *ngIf="isError">
  <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
    <div class="flex items-center justify-center w-12 bg-red-500">
      <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z"/>
      </svg>
    </div>
    
    <div class="px-4 py-2 pb-5  -mx-3">
      <div class="mx-3">
          <span class="font-semibold text-red-500 dark:text-red-400">Error</span>
          <p class="text-sm text-gray-600 dark:text-gray-200">Une erreur s'est produite!</p>
      </div>
    </div>
    </div>
</div>